
.navbar {
  display: flex;
  justify-content: space-between;
  
  padding: 0;
  
  color: #fff;
  position: sticky;
  top: 0;
 
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.nav-links {
  list-style: none;
  float:right;
  gap: 20px;
  justify-items: end;
  text-align: right;
}

.nav-links li {
  float:right;
  display: inline;
  justify-items: end;
  gap: 15px;
  text-align: right;

}

.nav-links a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  transition: color 0.3s ease;
  justify-items: end;
}

.nav-links a:hover {
 
border-bottom: 2px solid black;
}
