.button{
   display: flex;
   display: flex;
  
  margin-top: 20px;
}

.button button {
    /* Green background */
    border: none;
    color:black; /* White text */
    padding: 10px 20px; /* Padding inside the button */
    text-align: center; 
    text-decoration: none; /* No underline */
    display: inline-block;
    font-size: 16px; /* Text size */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }
  
  /* Hover effect */
  .button button:hover {
    background-color:rgb(101, 101, 248); /* Darker green */
  }